
.post {
    position: relative;
    width: 45%;
    min-width: 35%;
    max-height: 15%;
    background: #fff;
    box-shadow:0 4px 10px 0 rgba(17, 4, 63, 0.2),0 4px 20px 0 rgba(79, 19, 97, 0.19);
    margin: 10px 10px 10px 20px;
    float:left;
    border-radius: 15px;
}
    
.post-left {
        width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
        text-overflow: ellipsis;
}
.post-content {
        width: 75%;
        height: 200px;
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;      
}
.post-title{
    font-family: 'Itim', cursive;
    font-weight: bold;
    color: #2b312b;
    font-size: 25px;
    height: 25px;
    }
/*
.post-more {
    float: right;
    cursor: pointer;
    font-size: 18px;
    margin-right: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 10px;
    font-size: 30px;
}
*/
.post-desc{
    height: 100px;
    margin-bottom: 0 !important;
}

body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0 !important;
    background-color: orange;
    background-size: 2000% 2000%;
}
.allPostsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-shrink: 0px;
    flex-grow: 0px;
    padding-left: 65px;
    padding-right: 65px;
}
#main{
    position: absolute;
    top: 100px;
    margin-bottom: 60px;
}
#trash:hover{
    cursor: pointer;
    color: red;
}
#para{
    overflow: hidden;
    text-overflow:ellipsis;
    height: 73px;
}
#dot:hover{
    cursor: pointer;
}
#deleteModal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.8);
    z-index: 5;
    display: none;
}
#delContent{
    position:absolute;
    top:30%;
    left:35%;
    background-color: white;
    width: 35%;
    height: 150px;
}
#message{
    color: black;
    text-align:center;
    font-weight:bold;
    margin-top:31px;
    font-size:18px;
}
#yes{
    background-color: red;
    width:120px;
    height:40px;
    border-width:0px;
    color:white;
    font-weight:bold;
    margin-top:-10px;
    margin-left:35px;
    
}
#no{
    background-color: green;
    width:120px;
    height:40px;
    border-width:0px;
    color:white;
    font-weight:bold;
    margin-left:155px;
}